<h1>@Localizer["Welcome"]</h1>


<form>
    <div class="form-group">
        <label>@Localizer["FoodName"]</label>
        <input type="text" name="foodName" class="form-control" />
    </div>

    <div class="form-group">
        <label>@Localizer["Calories"]</label>
        <input type="number" name="calories" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
    <button type="button" class="btn btn-secondary">@Localizer["Cancel"]</button>
</form>

